<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.AdoptMapper">
    <!--审核通过-->
    <update id="adoptAdopt">
        UPDATE pet AS a,adopt AS b
        SET a.client_id=b.client_id,
            a.pet_info=#{petInfo},
            b.in_adopt=1
        WHERE a.pet_id = b.pet_id
          AND b.adopt_id = #{adoptId}
    </update>
    <!--分页查询-->
    <select id="selectAdoptPage" resultType="com.ship.model.dto.AdoptDto">
        SELECT
        adopt_id, adopt_code,a.pet_id, a.client_id, adopt_money,
        adopt_info,in_adopt,a.create_time,b.pet_name,c.client_name
        FROM adopt AS a,pet AS b,client AS c
        WHERE a.is_del = 0
        AND a.pet_id = b.pet_id
        AND a.client_id = c.client_id
        <if test="clientName!=null and clientName!=''">
            <bind name="clientName" value="'%'+clientName+'%'"/>
            and c.client_name like #{clientName}
        </if>
        <if test="petName!=null and petName!=''">
            <bind name="petName" value="'%'+petName+'%'"/>
            and b.pet_name like #{petName}
        </if>
        ORDER BY create_time DESC
    </select>
    <!--查询是否已有待审核订单-->
    <select id="sureInAdopt" resultType="int">
        select count(*)
        from adopt
        where is_del = 0
          and in_adopt = 2
          and pet_id = #{petId}
          and client_id = #{clientId}
    </select>
</mapper>
