<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.AppointmentMapper">
    <!--sql片段，封装结果列，有三个及以上的复用才有意义-->
    <sql id="appoint">
        <if test="true"/>
        ${alias}.appointment_id,
        ${alias}.client_id,
        ${alias}.pet_id,
        ${alias}.appointment_date,
        ${alias}.department_id,
        ${alias}.doctor_id,
        ${alias}.appointment_info,
        ${alias}.create_time,
    </sql>
    <!--分页查询-->
    <select id="selectAppointmentPage" resultType="com.ship.model.dto.AppointmentDto">
        SELECT
        <include refid="appoint">
            <property name="alias" value="a"/>
        </include>
        b.client_name,
        c.pet_name,
        d.department_name,
        e.doctor_name,
        a.is_suc
        FROM appointment a,
        client b,
        pet c,
        department d,
        doctor e
        WHERE a.is_del = 0
        AND a.client_id = b.client_id
        AND a.pet_id = c.pet_id
        AND a.department_id = d.department_id
        AND a.doctor_id = e.doctor_id
        <if test="seaName!=null and seaName!=''">
            <bind name="seaName" value="'%'+seaName+'%'"/>
            <choose>
                <when test="seaType==0">
                    and b.client_name like #{seaName}
                </when>
                <when test="seaType==1">
                    and c.pet_Name like #{seaName}
                </when>
                <when test="seaType==2">
                    and e.doctor_name like #{seaName}
                </when>
                <otherwise>
                    and d.department_name like #{seaName}
                </otherwise>
            </choose>
        </if>
        order by appointment_date desc
    </select>
    <!--根据医生查询订单-->
    <select id="getDoctor" resultType="com.ship.model.dto.AppointmentDto">
        SELECT appointment_id, appointment_date, appointment_info, b.client_name, c.pet_name
        FROM appointment a,
             client b,
             pet c
        WHERE a.is_del = 0
          AND a.client_id = b.client_id
          AND a.pet_id = c.pet_id
          AND doctor_id = #{doctorId}
        order by appointment_date desc
    </select>
    <!--根据用户查询订单-->
    <select id="getClient" resultType="com.ship.model.dto.AppointmentDto">
        SELECT
        <include refid="appoint">
            <property name="alias" value="a"/>
        </include>
        b.doctor_name,
        c.pet_name,
        d.department_name
        FROM appointment a,
        doctor b,
        pet c,
        department d
        WHERE a.is_del = 0
        AND a.doctor_id = b.doctor_id
        AND a.pet_id = c.pet_id
        AND a.department_id = d.department_id
        AND a.client_id = #{clientId}
        order by appointment_date desc
    </select>
    <!--医生：已登录查询订单-->
    <select id="getDoctorLog" resultType="com.ship.model.dto.AppointmentDto2">
        SELECT
        <include refid="appoint">
            <property name="alias" value="a"/>
        </include>
        b.client_name,
        c.pet_name,
        c.pet_photo,
        c.pet_variety,
        c.pet_status,
        c.pet_sex,
        c.pet_age,
        d.department_name,
        a.is_suc
        FROM appointment a,
        client b,
        pet c,
        department d
        WHERE a.is_del = 0
        AND a.client_id = b.client_id
        AND a.pet_id = c.pet_id
        AND a.department_id = d.department_id
        AND a.doctor_id = #{doctorId}
        order by a.is_suc, appointment_date desc
    </select>
</mapper>
