<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.ClientMapper">
    <!--分页查询-->
    <select id="selectClientPage" resultType="com.ship.entity.Client">
        SELECT
        client_id, client_username, client_name, client_gender, client_tel, client_age, client_info, client_photo
        FROM client
        WHERE is_del='0'
        <if test="clientName!=null and clientName!=''">
            and client_name like "%"#{clientName}"%"
        </if>
    </select>
</mapper>
