<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.DepartmentMapper">
    <!--分页查询-->
    <select id="selectDepartmentPage" resultType="com.ship.entity.Department">
        SELECT
        department_id, department_name, department_info, department_address
        FROM department
        WHERE is_del = 0
        <if test="departmentName!=null and departmentName!=''">
            <bind name="departmentName" value="'%'+departmentName+'%'"/>
            and department_name like #{departmentName}
        </if>
    </select>
</mapper>
