<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.DepartmentMapper">
    <!--分页查询-->
    <select id="selectDepartmentPage" resultType="com.ship.model.dto.DepartmentDto">
        SELECT
        de.department_id, department_name, department_info,
        d2.doctor_name AS head_name,
        count(d.doctor_id) AS doctor_num
        FROM department AS de
        LEFT JOIN doctor d on de.department_id = d.department_id
        LEFT JOIN doctor d2 ON de.head_id = d2.doctor_id
        WHERE de.is_del = 0
        <if test="departmentName!=null and departmentName!=''">
            <bind name="departmentName" value="'%'+departmentName+'%'"/>
            and department_name like #{departmentName}
        </if>
        GROUP BY de.department_id
    </select>
</mapper>
