<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.DoctorMapper">
    <!--分页查询-->
    <select id="selectDoctorPage" resultType="com.ship.dto.DoctorDto">
        SELECT
        doctor_id,a.department_id,doctor_code,doctor_name,doctor_gender,doctor_age,doctor_photo,doctor_tel,doctor_job,doctor_info,b.department_name
        FROM doctor AS a
        LEFT JOIN department AS b
        ON a.department_id=b.department_id
        WHERE a.is_del='0'
        <if test="doctorName!=null and doctorName!=''">
            <bind name="doctorName" value="'%'+doctorName+'%'"/>
            and doctor_name like #{doctorName}
        </if>
        <if test="departmentName!=null and departmentName!=''">
            <bind name="departmentName" value="'%'+departmentName+'%'"/>
            and b.department_name like #{departmentName}
        </if>
    </select>
    <!--根据id查询单个-->
    <select id="selectOneId" resultType="com.ship.dto.DoctorDto">
        SELECT doctor_id,
               doctor_code,
               doctor_name,
               doctor_gender,
               doctor_age,
               doctor_photo,
               doctor_tel,
               doctor_job,
               doctor_info,
               b.department_name
        FROM doctor AS a
                 LEFT JOIN department AS b
                           ON a.department_id = b.department_id
        WHERE a.is_del = '0'
          AND doctor_id = #{doctorId}
    </select>
</mapper>
