<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.EmployeeMapper">
    <!--分页查询-->
    <select id="selectEmployeePage" resultType="com.ship.model.entity.Employee">
        SELECT
        employee_id, employee_username, employee_name, employee_level,employee_tel,employee_photo,create_time
        FROM employee
        WHERE is_del = 0
        <if test="employeeName!=null and employeeName!=''">
            <bind name="employeeName" value="'%'+employeeName+'%'"/>
            and employee_name like #{employeeName}
        </if>
        ORDER BY employee_level DESC
    </select>
</mapper>
