<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.FosterMapper">
    <!--分页查询-->
    <select id="selectFosterPage" resultType="com.ship.dto.FosterDto">
        select
        foster_id, foster_code,a.pet_id, a.client_id, foster_term, foster_money, foster_info, b.pet_name,c.client_name
        FROM foster as a,pet as b,client as c
        WHERE a.is_del = 0
        AND a.pet_id = b.pet_id
        AND a.client_id = c.client_id
        <if test="clientName!=null and clientName!=''">
            <bind name="clientName" value="'%'+clientName+'%'"/>
            and c.client_name like #{clientName}
        </if>
        <if test="petName!=null and petName!=''">
            <bind name="petName" value="'%'+petName+'%'"/>
            and b.pet_name like #{petName}
        </if>
    </select>
    <!--查询被寄养宠物信息-->
    <select id="fosterPet" resultType="com.ship.dto.FosterPetDto">
        SELECT foster_id,
               foster_code,
               a.pet_id,
               a.client_id,
               foster_term,
               foster_money,
               foster_info,
               b.pet_name,
               b.pet_variety,
               b.pet_sex,
               b.pet_age,
               b.pet_status,
               b.pet_info,
               b.pet_photo,
               c.client_name
        FROM foster AS a,
             pet AS b,
             client AS c
        WHERE a.is_del = 0
          AND a.pet_id = b.pet_id
          AND a.client_id = c.client_id
          AND foster_term >= now()
    </select>
</mapper>
