<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.FosterMapper">
    <!--分页查询-->
    <select id="selectFosterPage" resultType="com.ship.model.dto.FosterDto">
        select
        foster_id, foster_code,f.pet_id, f.client_id, foster_term, foster_money, foster_info, p.pet_name,c.client_name
        FROM foster f,pet p,client c
        WHERE f.is_del = 0
        AND f.pet_id = p.pet_id
        AND f.client_id = c.client_id
        <if test="clientName!=null and clientName!=''">
            <bind name="clientName" value="'%'+clientName+'%'"/>
            and c.client_name like #{clientName}
        </if>
        <if test="petName!=null and petName!=''">
            <bind name="petName" value="'%'+petName+'%'"/>
            and p.pet_name like #{petName}
        </if>
    </select>
    <!--查询被寄养宠物信息-->
    <select id="fosterPet" resultType="com.ship.model.dto.FosterPetDto">
        SELECT foster_id,
               foster_code,
               f.pet_id,
               f.client_id,
               foster_term,
               foster_money,
               foster_info,
               p.pet_name,
               p.pet_variety,
               p.pet_sex,
               p.pet_age,
               p.pet_status,
               p.pet_info,
               p.pet_photo,
               c.client_name
        FROM foster f,
             pet p,
             client c
        WHERE f.is_del = 0
          AND f.pet_id = p.pet_id
          AND f.client_id = c.client_id
          AND foster_term >= now()
    </select>
    <!-- 更新寄养表，且不更新订单号-->
    <update id="updateFoster">
        UPDATE foster
        SET pet_id=#{petId},
            client_id=#{clientId},
            foster_term=#{fosterTerm},
            foster_money=#{fosterMoney},
            foster_info=#{fosterInfo},
            update_time=#{updateTime}
        WHERE foster_id = #{fosterId}
          AND is_del = 0
    </update>
</mapper>
