<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ship.mapper.MsgMapper">
    <!--查询用户最近谈话的医生-->
    <select id="getByClient" resultType="Integer">
        SELECT doctor_id
        FROM msg
        WHERE is_del = 0
          AND client_id = #{clientId}
        ORDER BY create_time DESC LIMIT 0,1
    </select>
    <!-- 查询特定用户与医生对话-->
    <select id="getADoctor" resultType="com.ship.model.dto.MsgDo">
        SELECT msg_id,
               (CASE is_client WHEN 0 THEN d.doctor_name ELSE c.client_name END)   AS role_name,
               (CASE is_client WHEN 0 THEN d.doctor_photo ELSE c.client_photo END) AS role_photo,
               is_client                                                           AS is_mine,
               msg_content,
               is_img,
               m.create_time
        FROM msg m,
             client c,
             doctor d
        WHERE m.is_del = 0
          AND m.client_id = #{clientId}
          AND m.doctor_id = #{doctorId}
          AND m.client_id = c.client_id
          AND m.doctor_id = d.doctor_id
    </select>
    <!-- 查询与用户有过联系的医生-->
    <select id="getDoctorGroup" resultType="com.ship.model.dto.MsgNameDo">
        SELECT if(m.doctor_id = #{doctorId}, 0, 1) AS flag,
               m.doctor_id                         AS role_id,
               d.doctor_name                       AS role_name
        FROM msg m,
             doctor d
        WHERE client_id = #{clientId}
          AND m.doctor_id = d.doctor_id
        GROUP BY role_id
        ORDER BY flag
    </select>
    <!--查询医生最近谈话的用户-->
    <select id="getByDoctor" resultType="Integer">
        SELECT client_id
        FROM msg
        WHERE is_del = 0
          AND doctor_id = #{doctorId}
        ORDER BY create_time DESC LIMIT 0,1
    </select>
    <!-- 查询特定医生与用户对话-->
    <select id="getAClient" resultType="com.ship.model.dto.MsgDo">
        SELECT msg_id,
               (CASE is_client WHEN 0 THEN d.doctor_name ELSE c.client_name END)   AS role_name,
               (CASE is_client WHEN 0 THEN d.doctor_photo ELSE c.client_photo END) AS role_photo,
               NOT is_client                                                       AS is_mine,
               msg_content,
               is_img,
               m.create_time
        FROM msg m,
             client c,
             doctor d
        WHERE m.is_del = 0
          AND m.client_id = #{clientId}
          AND m.doctor_id = #{doctorId}
          AND m.client_id = c.client_id
          AND m.doctor_id = d.doctor_id
    </select>
    <!-- 医生谈过话的用户-->
    <select id="getClientGroup" resultType="com.ship.model.dto.MsgNameDo">
        SELECT if(m.client_id = #{clientId}, 0, 1) AS flag,
               m.client_id                         AS role_id,
               c.client_name                       AS role_name
        FROM msg m,
             client c
        WHERE m.doctor_id = #{doctorId}
          AND m.client_id = c.client_id
        GROUP BY role_id
        ORDER BY flag
    </select>
</mapper>
