<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forge.mapper.FosterMapper">
    <!--逻辑删除单个-->
    <update id="deleteId">
        UPDATE foster
        SET is_del=#{delDate}
        WHERE foster_id = #{fosterId};
    </update>
    <!-- 逻辑删除多个-->
    <update id="deleteIdGroup">
        UPDATE foster
        SET is_del=#{delDate}
        WHERE foster_id IN
        <foreach collection="idGroup" item="fosterId" separator="," open="(" close=")">
            #{fosterId}
        </foreach>
    </update>
    <!--查询分页的条目数-->
    <select id="selectFosterCount" resultType="int">
        select
        count(*)
        FROM foster
        WHERE is_del = '0'
        <if test="fosterCode!=null and fosterCode!=''">
            and foster_code like "%"#{fosterCode}"%"
        </if>
    </select>
    <!--分页查询-->
    <select id="selectFosterPage" resultType="com.forge.dto.FosterDto">
        select
        foster_id, foster_code,a.pet_id, a.client_id, foster_term, foster_money, foster_info, b.pet_name,c.client_name
        FROM foster as a,pet as b,client as c
        WHERE a.is_del = '0'
        AND a.pet_id = b.pet_id
        AND a.client_id = c.client_id
        <if test="fosterCode!=null and fosterCode!=''">
            and foster_code like "%"#{fosterCode}"%"
        </if>
        limit #{pu.begin},#{pu.size};
    </select>
    <!--查询被寄养宠物信息-->
    <select id="fosterPet" resultType="com.forge.dto.FosterPetDto">
        select
            foster_id, foster_code,a.pet_id, a.client_id, foster_term, foster_money, foster_info,
            b.pet_name,b.pet_variety, b.pet_sex, b.pet_age, b.pet_status, b.pet_info, b.pet_photo,
            c.client_name
        FROM foster as a,pet as b,client as c
        WHERE a.is_del = '0'
          AND a.pet_id = b.pet_id
          AND a.client_id = c.client_id
          AND foster_term >= now()
    </select>
</mapper>
