/* 设置背景色 */
body {
    background-color: #e9e9f5;
}

/*卡片横向溢出时，有滚动条*/
.el-card {
    overflow-x: auto;
}

/* 对除了第一个class以外的所有class执行的样式 */
.el-card:not(:first-child) {
    margin-top: 9px;
}

/* 设置链接样式 */
a {
    /* 去掉下划线 */
    text-decoration: none;
    /* 颜色与父元素相同 */
    color: inherit;
}

.my-suc {
    color: #67C23A;
}

.my-pri {
    color: #409EFF;
}

.my-warn {
    color: #E6A23C;
}