@charset "UTF-8";
/*前台的医生、宠物、寄养卡片的布局,文字与图片在一行 */
.my-pet-card {
    display: flex;
}

.my-pet-card img {
    width: 128px;
    height: 128px;
}

.my-pet-card .my-pet-info {
    padding-left: 10px;
    text-align: center;
    font-size: small;
}